@model dndhelper.Models.Campaign
<header>
<img src="\images\Elementy_strony\Campaign.jpg" alt="Campaign - header" />
</header>


<h1>Usuwanie kampanii</h1>

<h3>Czy na pewno chcesz usunąć te kampanię?</h3>
<div>
    <h4>Name: @Model.Name</h4>
    <div>
        @using (Html.BeginForm("Delete", "Campaigns", new { id = Model.Id }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <input type="submit" value="Usuń" class="btn btn-danger" />
            @Html.ActionLink("Anuuluj", "Index", null, new { campaignId = Model.Id, campaignName = Model.Name }, new { @class = "btn btn-secondary" })
        }
    </div>
</div>
