@{
    ViewData["Title"] = "Home Page";
}

<div id="wrapper">
    <header>
        <img src="\images\Elementy_strony\Home_banner_1.jpg" alt"Home_banner_1 - header" />
    </header>
    <style>

         #wrapper {max-width:1500px;
                    margin: 0 auto;}
                    header img {width: 100%;
                    display: block;}

        #article h1 {font-size: 7000px;}

        #article p1 {font-size: 600px;}

        #article {width: 80%;
                  margin: 0 10%;
                  text-align: center;}

        #article h2 h3 h4 {font-size: 30px;}

        #article {
            max-width: 1500px;
            margin: 0 auto;}

        article img {
            width: 100%;
            display: block;}

        section {display: inline-block}
    </style>

    <section>
      <div id="articles">
        <article>
            <h1>WITAJ PODRÓŻNIKU</h1>
            <p1>PRZYGODA CZEKA!</p1>
        
            <h2>
                <img class="right" src="\images\Elementy_strony\Home_wizard.jpg" alt="wizard" />
                Czym jest D&D</h2>
            <p2>
                Założenia gier fabularnych D&D opierają się na wspólnym
                tworzeniu opowieści przez graczy i prowadzącego rozgrywkę
                (nazywanego mistrzem gry lub MG). Każdy gracz tworzy postać,
                która staje się bohaterem w świecie fantasy. Postacie te mają różne
                umiejętności, cechy i historie, które wpływają na ich działania
                w trakcie gry.

                W D&D kluczowym elementem jest rozwiązywanie zagadek,
                pokonywanie potworów, odkrywanie skarbów i interakcja
                z innymi postaciami w świecie gry. Gracze mają również
                możliwość rozwijania swoich postaci, zdobywania doświadczenia
                poziomów i nowych umiejętności w miarę postępów w historii.
            </p2>

            <h3>
                <img class="right" src="\images\Elementy_strony\Home_demon.jpg" alt="demon" />
                Kim jest MG (mistrz gry)</h3>
            <p3>
                MG pełni rolę narratorki i arbitra, tworząc świat, w którym
                rozgrywka się odbywa. Opisuje otoczenie, postacie niezależne
                i sytuacje, z którymi bohaterowie się spotykają. Gracze podejmują
                decyzje, jak ich postacie będą działać w danych sytuacjach,
                i używają do tego rzutów kostką, aby określić sukces lub porażkę
                swoich działań.

                Gry D&D są znane ze swojej otwartości i elastyczności. MG ma
                dużą swobodę w kreowaniu opowieści i dostosowywaniu zasad
                gry do potrzeb grupy. Istnieje wiele gotowych przygód i kampanii,
                które można wykorzystać, ale wiele grup tworzy także własne
                opowieści i światy.
            </p3>

            <h4>
                <img class="right" src="\images\Elementy_strony\Home_goblin.jpg" alt="goblin" />
                Jak grać w gry typu d&d</h4>
            <p4>
                Tworzenie postaci:
                Wybierz rasę i klasę dla swojej postaci. Rasa określa jej
                pochodzenie, a klasa to rodzaj zawodu lub umiejętności.

                Przydziel atrybuty (siła, zręczność, wytrzymałość itp.) swojej
                postaci, używając ustalonej metody (np. rzutu kostką).

                Określ imię, wygląd, historię i motywacje swojej postaci.

                Zasady gry:
                Zapoznaj się z podstawowymi mechanikami D&D, takimi
                jak rzuty kostką, testy umiejętności i walka.

                Naucz się korzystać z arkusza postaci, który zawiera informacje
                o zdolnościach, atakach i zdrowiu twojej postaci.

                Mistrz gry (MG) i przygody:
                Spotkaj się z grupą graczy i wybierz osobę, która będzie pełnić
                rolę mistrza gry. To MG prowadzi opowieść i opisuje świat gry.

                Wybierz przygodę lub kampanię do rozegrania. Możesz skorzystać
                z gotowych scenariuszy lub stworzyć własną historię.

                Rozgrywka:
                MG opisuje otoczenie, postaci niezależne i zadania,
                przed którymi stają bohaterowie.

                Gracze podejmują decyzje dotyczące działań swoich postaci,
                takich jak badanie miejsc, rozmowa z postaciami, walka
                z przeciwnikami itp.

                Rzut kostką jest używany do określania sukcesu lub porażki
                działań. Wyniki rzutów mogą wpływać na rozwój fabuły.

                Współpraca i rozwój postaci:
                Współpracuj z innymi graczami, aby osiągnąć cele
                i przeżyć przygody.

                Zdobądź doświadczenie, pokonując przeciwników i rozwiązując
                zagadki, aby zdobywać nowe poziomy postaci.

                Ulepszaj umiejętności, zdobywaj nowe zdolności i wyposażenie,
                aby wzmocnić swoją postać.

                Kreatywność i eksploracja:
                Wykorzystaj swoją kreatywność, aby rozwiązywać problemy
                w niekonwencjonalny sposób.

                Eksploruj świat gry, odkrywaj nowe miejsca, interaguj z postaciami
                i zbieraj informacje, które mogą pomóc w przygodach.

                Kontynuuj opowieść:
                Gra w D&D jest ciągłą opowieścią, dlatego kontynuuj rozwijanie
                historii i przygód swojej postaci w kolejnych sesjach.
            </p4>
        </article>

    </section>
</div>
